{% extends "registration/base.html" %}
{% load static widget_tweaks %}

{% block title %}Register{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
  
    {% for field in form %}
      <p>
        
        <!-- {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %} -->
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
   <p><label>Username</label> {{form.username}}</p>
    <p><label>Email</label> {{form.email}}</p>
     <p><label>password</label> {{form.password1}}</p>
     <p><label>Confirm password</label> {{form.password2}}</p>
       <p><label>FirstName</label> {{form.first_name}}</p>
        <p><label>LastName</label> {{form.last_name}}</p>
   
    <input type="submit" name="submit" value="submit">
  </form>
  
{% endblock %}